* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-slate-300: hsl(212, 45%, 89%);
    --color-slate-500: hsl(216, 15%, 48%);
    --color-slate-900: hsl(218, 44%, 22%);
}

body {
    min-height: 100vh;
    background-color: var(--color-slate-300);
    font-family: "Outfit", sans-serif;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.attribution {
    width: 100%;
    position: absolute;
    bottom: 0.2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.card {
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20rem;
    max-height: 31.25rem;
    margin: 0.625rem;
    padding: 1rem;
    box-shadow: 0 0.25rem 0.625rem 0.125rem #3e52a333;
    border-radius: 20px;
    text-align: center;
}

img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

.card-image {
    width: 100%;
}

.card-content {
    padding: 1.5rem 1rem;
}

.card-title {
    font-size: 1.375rem;
    font-weight: 700;
    color: var(--color-slate-900);
    margin-bottom: 1rem;
}

.card-text {
    color: var(--color-slate-500);
    font-size: 0.938rem;
    font-weight: 400;
    line-height: 1.1875rem;
    letter-spacing: 0.0125rem;
}

.attribution p {
    line-height: 1.1875rem;
    letter-spacing: 0.0125rem;
    font-size: 0.938rem;
}

